.language-app {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f2ecec;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 
  
   h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
}